@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: rgb(187, 175, 207);
  background: linear-gradient(
    180deg,
    rgba(187, 175, 207, 1) 0%,
    rgba(165, 164, 226, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.drop-down {
  min-width: 600px;
  display: grid;
  gap: 10px;
}
.drop-down__menu {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-radius: 10px;
}
.drop-down__menu > p {
  grid-column: 2/3;
  justify-self: center;
  opacity: 0.5;
}
.drop-down__menu > img {
  grid-column: 3/4;
  justify-self: end;
}
.drop-down__submenu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.drop-down__submenu > a {
  color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
}
:is(.drop-down__submenu > a:hover, .drop-down__submenu > p:focus) {
  background-color: #f2f2f2;
}
.hide-menu {
  visibility: hidden;
}
/* mobile drop down menu */
.mobile-drop-down {
  display: grid;
  grid-template-rows: 1fr;
}
.mobile-drop-down__options {
  min-width: 550px;
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;

  /* .mobile-drop-down */
  grid-area: 1/1/2/3;
}

.mobile-drop-down__menu-text {
  text-align: center;
  opacity: 0.8;
}
.mobile-drop-down__sub-menu {
  display: flex;
  flex-direction: column;

  /* .mobile-drop-down */
  grid-area: 2/2/3/3;
}
:is(.mobile-drop-down__options > a, .mobile-drop-down__sub-menu > a) {
  color: black;
  opacity: 0.8;
}
.mobile-drop-down__sub-menu > a {
  margin-top: 1px;
  padding: 10px;
  background-color: white;
}

.hide-sub-menu {
  /* display: none; */
}
.active {
  border-bottom: 2px solid black;
}
